.transition {
  position: fixed;
  height:100vh;
  width:100vw;
  z-index: 99998;
  transform:scaleX(0);
  pointer-events: none;
}

.city {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(3rem, 10vw, 8rem);
  letter-spacing: 0.1em;
  height:100vh;
  width:100vw;
  z-index: 99999;
  pointer-events: none;
}

.cityText{
  color: var(--offWhite);
  font-size: var(--fs-h1);
  font-family: var(--font-gravity), sans-serif;
  opacity: 0;
  will-change: opacity;
}

.ident{
  opacity: 0;
  will-change: opacity;
  width:100vw;
}